body {
  background-color: #ccc;
  width: 100%;
}

#chart{
  background-color: #ccc;
  width: 90vw;
  max-width: 1000px;
  height: 500px;
  margin: 50px auto;
  border: 1px solid black;
}

svg{
  background-color: white;
}

.dot{
  stroke: #000;
  stroke-width: 1px;

}

.axis line, .axis path{
  stroke: #bbb;
}

.axis text{
  fill: #bbb;
}

.axisLabel{
  fill: #bbb;
  font: sans-serif;
  font-size: 10px;
}

#tooltip{
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border: solid 1px #000;
  opacity: 0;
}